{% extends "base.html" %} 
{% block content %}


        <h1>What goes here?</h1>
       

 


    {% if session['logged_in'] %}
    <h2>My Previous Blogs</h2>
    <ul>
    {% for blog in blogs %}
    <li>

        <a href="/blog/{{blog.id}}/">{{blog.title}}</a>
        <p>Written By: {{ session['user'] }}</p>
        
    </li>
    {% endfor %}
        </ul>
    {% endif %}

    {% if not session["logged_in"] %}

    {% for blog in data_tuples %}

    <a href="/blog/{{blog[1]}}/">{{blog[0]}}</a>
    <p>Author: {{ blog[2] }}</p>

    {% endfor %}
    {% endif %}



{% endblock %}